@import "footer.css";
@import "header.css";
@import "img.css";

.container {
  display: flex;
  flex-direction: row;
  /* alt solution */
  justify-content: space-around;
  width: auto;
  height: 500px;
  margin: auto;
}
.box {
  width: 350px;
  height: 150px;
}
